body{
  background-color:rgb(240 241 223);
}
/* header */
.container{
  position: fixed;
  height: auto;
}

.header,.nav{
  display: flex;
  flex-direction: row;
  background-color:rgb(235, 224, 76);
}

.header{
  padding-top: 1.8em;
  margin-top: -10px;
}

.logo {
  width: 110px;
  padding-left: 10px;
  padding-bottom: 10px;
}

.nav{
  margin-top:1.5em;
  margin-left: auto; 
}

.nav a{
  display: block;
 
  font-size:1.5em;
  font-weight :300;
  padding:0.4em;
  
}

.container {
	width: 98.8%;
}

ul,li {
  list-style-type: none; 
  color: darkgreen;
}

a {
  color: #656a6e;
  text-decoration: none;
  font-weight: 400; 
}
p{
  color:grey;
  font-size: 18px;
}
/* image carousel */

.slideshow {
  max-width: 100%;
 padding-top: 135px; 
}

.img1 {
  height: 500px;
}

.image {
  display: none;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.active, .dot:hover {
  background-color: #717171;
}
/* all body styling */

.main{
  padding-left: 40px;
  padding-right: 40px;
}
/* radio button */

.radio{
  font-size: 30px;
}
/* options for donation */

.second {
  display:flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  margin-top: 50px;
  margin-left: 10px;
}

/* all anchor tag styling */

a:link {
  color: green; 
  background-color: transparent; 
  text-decoration: none;
}
  
a:visited {
  color:  rgb(8 130 13);;
  background-color: transparent;
  text-decoration: none;
}
  
a:hover {
  color: red;
  background-color: transparent;
  text-decoration: underline;
}
  
a:active {
  color: yellow;
  background-color: transparent;
  text-decoration: underline;
}
    
h1{
  font-size: xx-large;
  color: rgb(100, 145, 91);
  text-align: center;
}

p{
  text-align: center;
}
.text{
  font-size: xx-large;
  color: rgb(58, 52, 52);
}

.row{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
   
.subdiv1{
  padding-right: 30px;
  font-size: large;
  flex-basis: content;
  background-color: rgb(32, 27, 26);
  padding-left: 30px ;
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: left;
  margin-left: 30px;
}

.column{
  max-width: 33.3%;
  text-align: center;
 }

.img{
  width:420px;
}  

.column1,.column2,.column3{
  text-align: center;
}

.subdiv,.subdiv3{
  padding-right: 30px;
  font-size: large;
  flex-basis: content;
  background-color: rgb(32, 27, 26);
  padding-left: 30px ;
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: left;
  margin-left: 30px;
  }

/* submit button */
.button{
 width: 100px;
 background:rgb(100, 145, 91); ;   
color: white;
border-style: outset;
border-color: rgb(100, 145, 91);
height: 50px;
width: 100px;
font: bold 15px arial, sans-serif;
text-shadow:none; 
margin-bottom: 100px;

}
/* sticky footer */
footer {
    position: fixed;
    left: 0;
    bottom: 0; 
    width: 100%;
    background-color:black;
    color: white;
    text-align: center;
  
  }

  
  @media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .header{
      flex-direction: column;
    }
  
    .logo,.nav{
      align-self: center;  
     }
       
    .logo{
      width:140px;
      margin-left: -10px;
      
    }
    
    .nav{ 
      margin-top: 3em;
      flex-direction: column; 
      margin-left: -3px;
    }
      
    .nav a{
      border-bottom-color: green ;
    } 
  
  .slideshow{
    padding-top: 375px;
    border: green;
  }

   .column1{
    width: 100%;
    height: auto;
    text-align: center;
  }

  .img{
  width: 80%;
  }  

  .column2{
    width: 100%;
    height: auto;
    text-align: center;
  }
  
  .column3{
    width: 100%;
    height: auto;
    text-align: center;
  }
  .row{
    flex-direction: column;
  }

  .second{
    flex-wrap: wrap;
    padding-top: 20px;
  }

  .subdiv1{
    margin-top: 40px;
  }

  .img1{
    height: auto;
  }

  
  }
    
  @media only screen 
  and (min-device-width: 360px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {

    .subdiv{
      margin-top: 40px;
    }

    .button{
      margin-top: 30px;
    }
    .nav{
      margin-left: -39px;
    }



}

    
     

